In [1]:
import requests
import io
import pandas as pd

In [ ]:
url = "https://www.ncei.noaa.gov/oa/local-climatological-data/v2/doc/lcdv2-station-list.txt"
resp = requests.get(url)
resp.raise_for_status()
text = resp.text 
f = io.StringIO(text)
f

In [ ]:

def parse_line(line):
    parts = line.strip().split()
    if len(parts) < 5:
        return None
    sid = parts[0]
    lat = float(parts[1])
    lon = float(parts[2])
    elev = float(parts[3])
    name = " ".join(parts[4:])
    return (sid, lat, lon, elev, name)

records = []
for ln in f:
    parsed = parse_line(ln)
    if parsed:
        records.append(parsed)

df = pd.DataFrame(records, columns=["station_id", "latitude", "longitude", "elevation", "station_name"])

df.head()

In [ ]:
airport = "Durham"
df[df["station_name"].str.contains(airport, case=False, na=False)]

In [ ]:
airport = "Raleigh"
df[df["station_name"].str.contains(airport, case=False, na=False)]

USW00013722

In [2]:
import pandas as pd
flight = pd.read_csv("T_ONTIME_REPORTING 3.csv",dtype={'DEP_TIME': str})
flight = flight[flight['ORIGIN_CITY_NAME'] == 'Raleigh/Durham, NC']
flight

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST,DEST_CITY_NAME,...,ARR_DELAY_NEW,CANCELLED,AIR_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
1276,2023,4,11,1,3,11/1/2023 12:00:00 AM,"Raleigh/Durham, NC",North Carolina,ATL,"Atlanta, GA",...,0.0,0.0,59.0,1.0,356.0,NaN,NaN,NaN,NaN,NaN
1277,2023,4,11,1,3,11/1/2023 12:00:00 AM,"Raleigh/Durham, NC",North Carolina,ATL,"Atlanta, GA",...,0.0,0.0,64.0,1.0,356.0,NaN,NaN,NaN,NaN,NaN
1278,2023,4,11,1,3,11/1/2023 12:00:00 AM,"Raleigh/Durham, NC",North Carolina,ATL,"Atlanta, GA",...,0.0,0.0,59.0,1.0,356.0,NaN,NaN,NaN,NaN,NaN
1279,2023,4,11,1,3,11/1/2023 12:00:00 AM,"Raleigh/Durham, NC",North Carolina,ATL,"Atlanta, GA",...,0.0,0.0,57.0,1.0,356.0,NaN,NaN,NaN,NaN,NaN
1280,2023,4,11,1,3,11/1/2023 12:00:00 AM,"Raleigh/Durham, NC",North Carolina,ATL,"Atlanta, GA",...,0.0,0.0,58.0,1.0,356.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47063,2023,4,11,30,4,11/30/2023 12:00:00 AM,"Raleigh/Durham, NC",North Carolina,STL,"St. Louis, MO",...,0.0,0.0,116.0,1.0,667.0,NaN,NaN,NaN,NaN,NaN
47064,2023,4,11,30,4,11/30/2023 12:00:00 AM,"Raleigh/Durham, NC",North Carolina,TPA,"Tampa, FL",...,0.0,0.0,89.0,1.0,587.0,NaN,NaN,NaN,NaN,NaN
47065,2023,4,11,30,4,11/30/2023 12:00:00 AM,"Raleigh/Durham, NC",North Carolina,TPA,"Tampa, FL",...,0.0,0.0,89.0,1.0,587.0,NaN,NaN,NaN,NaN,NaN
47066,2023,4,11,30,4,11/30/2023 12:00:00 AM,"Raleigh/Durham, NC",North Carolina,TPA,"Tampa, FL",...,0.0,0.0,94.0,1.0,587.0,NaN,NaN,NaN,NaN,NaN
47067,2023,4,11,30,4,11/30/2023 12:00:00 AM,"Raleigh/Durham, NC",North Carolina,TPA,"Tampa, FL",...,11.0,0.0,86.0,1.0,587.0,NaN,NaN,NaN,NaN,NaN

In [3]:
flight.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST,DEST_CITY_NAME,...,ARR_DELAY_NEW,CANCELLED,AIR_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
1276,2023,4,11,1,3,11/1/2023 12:00:00 AM,"Raleigh/Durham, NC",North Carolina,ATL,"Atlanta, GA",...,0.0,0.0,59.0,1.0,356.0,NaN,NaN,NaN,NaN,NaN
1277,2023,4,11,1,3,11/1/2023 12:00:00 AM,"Raleigh/Durham, NC",North Carolina,ATL,"Atlanta, GA",...,0.0,0.0,64.0,1.0,356.0,NaN,NaN,NaN,NaN,NaN
1278,2023,4,11,1,3,11/1/2023 12:00:00 AM,"Raleigh/Durham, NC",North Carolina,ATL,"Atlanta, GA",...,0.0,0.0,59.0,1.0,356.0,NaN,NaN,NaN,NaN,NaN
1279,2023,4,11,1,3,11/1/2023 12:00:00 AM,"Raleigh/Durham, NC",North Carolina,ATL,"Atlanta, GA",...,0.0,0.0,57.0,1.0,356.0,NaN,NaN,NaN,NaN,NaN
1280,2023,4,11,1,3,11/1/2023 12:00:00 AM,"Raleigh/Durham, NC",North Carolina,ATL,"Atlanta, GA",...,0.0,0.0,58.0,1.0,356.0,NaN,NaN,NaN,NaN,NaN

In [4]:
weather = pd.read_csv("clean_weather_RDU_2022_2024.csv")
weather

,DATE,NAME,HourlyAltimeterSetting,HourlyDewPointTemperature,HourlyDryBulbTemperature,HourlyPrecipitation,HourlyPresentWeatherType,HourlyPressureChange,HourlyPressureTendency,HourlyRelativeHumidity,HourlySkyConditions,HourlySeaLevelPressure,HourlyVisibility,HourlyWindDirection,HourlyWindGustSpeed,HourlyWindSpeed,DateTime,Airport
0,2022-01-01T00:29:00,"RALEIGH AIRPORT, NC US",1013.9,16.1,18.9,NaN,NaN,NaN,NaN,84.0,BKN:07 6.4 OVC:08 70.1,NaN,16.093,220.0,NaN,5.7,2022-01-01 00:29:00,RDU
1,2022-01-01T00:51:00,"RALEIGH AIRPORT, NC US",1013.5,16.1,18.9,0.0,NaN,-0.5,5.0,84.0,BKN:07 6.1 BKN:07 7.62 BKN:07 36.58,1013.2,16.093,220.0,NaN,5.1,2022-01-01 00:51:00,RDU
2,2022-01-01T01:00:00,"RALEIGH AIRPORT, NC US",NaN,16.1,18.9,NaN,NaN,-0.5,5.0,84.0,NaN,1013.2,NaN,220.0,NaN,5.1,2022-01-01 01:00:00,RDU
3,2022-01-01T01:33:00,"RALEIGH AIRPORT, NC US",1013.5,16.7,18.9,NaN,NaN,NaN,NaN,87.0,BKN:07 3.66 OVC:08 12.19,NaN,16.093,220.0,NaN,4.6,2022-01-01 01:33:00,RDU
4,2022-01-01T01:51:00,"RALEIGH AIRPORT, NC US",1013.2,16.7,18.3,0.0,NaN,NaN,NaN,90.0,BKN:07 3.05 BKN:07 11.58,1012.9,16.093,220.0,NaN,4.1,2022-01-01 01:51:00,RDU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36074,2024-12-31T20:51:00,"RALEIGH AIRPORT, NC US",1002.7,11.7,14.4,0.0,NaN,NaN,NaN,84.0,SCT:04 8.84 SCT:04 21.34 BKN:07 33.53,1002.5,16.093,190,NaN,2.6,2024-12-31 20:51:00,RDU
36075,2024-12-31T21:51:00,"RALEIGH AIRPORT, NC US",1004.1,10.6,13.3,2.3,NaN,0.6,3.0,84.0,SCT:04 5.79 BKN:07 15.24 BKN:07 33.53,1003.8,16.093,260,NaN,3.6,2024-12-31 21:51:00,RDU
36076,2024-12-31T22:00:00,"RALEIGH AIRPORT, NC US",NaN,10.6,13.3,NaN,NaN,0.6,3.0,84.0,4.5,1003.8,16.0,260,NaN,3.6,2024-12-31 22:00:00,RDU
36077,2024-12-31T22:51:00,"RALEIGH AIRPORT, NC US",1004.7,9.4,12.2,0.0,NaN,NaN,NaN,83.0,FEW:02 15.24 SCT:04 33.53,1004.5,16.093,260,NaN,3.6,2024-12-31 22:51:00,RDU
36078,2024-12-31T23:51:00,"RALEIGH AIRPORT, NC US",1005.1,6.7,11.7,0.0,NaN,NaN,NaN,72.0,FEW:02 15.24,1004.9,16.093,250,NaN,2.6,2024-12-31 23:51:00,RDU

In [5]:
flight["FL_DATE"] = pd.to_datetime(flight["FL_DATE"], format="%m/%d/%Y %I:%M:%S %p")
weather["DATE"] = pd.to_datetime(weather["DATE"])
flight = flight.sort_values("FL_DATE")
weather = weather.sort_values("DATE")
print(flight)
print(weather)

       YEAR  QUARTER  MONTH  DAY_OF_MONTH  DAY_OF_WEEK    FL_DATE  \
1276   2023        4     11             1            3 2023-11-01
1385   2023        4     11             1            3 2023-11-01
1386   2023        4     11             1            3 2023-11-01
1387   2023        4     11             1            3 2023-11-01
1388   2023        4     11             1            3 2023-11-01
...     ...      ...    ...           ...          ...        ...
46961  2023        4     11            30            4 2023-11-30
46962  2023        4     11            30            4 2023-11-30
46963  2023        4     11            30            4 2023-11-30
46944  2023        4     11            30            4 2023-11-30
47067  2023        4     11            30            4 2023-11-30

         ORIGIN_CITY_NAME ORIGIN_STATE_NM DEST   DEST_CITY_NAME  ...  \
1276   Raleigh/Durham, NC  North Carolina  ATL      Atlanta, GA  ...
1385   Raleigh/Durham, NC  North Carolina  LAX  Los Angeles, CA  ...
1386   Raleigh/Durham, NC  North Carolina  LGA     New York, NY  ...
1387   Raleigh/Durham, NC  North Carolina  LGA     New York, NY  ...
1388   Raleigh/Durham, NC  North Carolina  LGA     New York, NY  ...
...                   ...             ...  ...              ...  ...
46961  Raleigh/Durham, NC  North Carolina  DEN       Denver, CO  ...
46962  Raleigh/Durham, NC  North Carolina  DEN       Denver, CO  ...
46963  Raleigh/Durham, NC  North Carolina  DEN       Denver, CO  ...
46944  Raleigh/Durham, NC  North Carolina  CLT    Charlotte, NC  ...
47067  Raleigh/Durham, NC  North Carolina  TPA        Tampa, FL  ...

      ARR_DELAY_NEW CANCELLED AIR_TIME  FLIGHTS  DISTANCE  CARRIER_DELAY  \
1276            0.0       0.0     59.0      1.0     356.0            NaN
1385            1.0       0.0    301.0      1.0    2239.0            NaN
1386           16.0       0.0     64.0      1.0     431.0           11.0
1387           53.0       0.0     62.0      1.0     431.0           44.0
1388            0.0       0.0     64.0      1.0     431.0            NaN
...             ...       ...      ...      ...       ...            ...
46961           0.0       0.0    203.0      1.0    1436.0            NaN
46962           0.0       0.0    205.0      1.0    1436.0            NaN
46963           0.0       0.0    210.0      1.0    1436.0            NaN
46944           0.0       0.0     38.0      1.0     130.0            NaN
47067          11.0       0.0     86.0      1.0     587.0            NaN

       WEATHER_DELAY  NAS_DELAY  SECURITY_DELAY  LATE_AIRCRAFT_DELAY
1276             NaN        NaN             NaN                  NaN
1385             NaN        NaN             NaN                  NaN
1386             0.0        5.0             0.0                  0.0
1387             0.0        9.0             0.0                  0.0
1388             NaN        NaN             NaN                  NaN
...              ...        ...             ...                  ...
46961            NaN        NaN             NaN                  NaN
46962            NaN        NaN             NaN                  NaN
46963            NaN        NaN             NaN                  NaN
46944            NaN        NaN             NaN                  NaN
47067            NaN        NaN             NaN                  NaN

[4986 rows x 29 columns]
                     DATE                    NAME  HourlyAltimeterSetting  \
0     2022-01-01 00:29:00  RALEIGH AIRPORT, NC US                  1013.9
1     2022-01-01 00:51:00  RALEIGH AIRPORT, NC US                  1013.5
2     2022-01-01 01:00:00  RALEIGH AIRPORT, NC US                     NaN
3     2022-01-01 01:33:00  RALEIGH AIRPORT, NC US                  1013.5
4     2022-01-01 01:51:00  RALEIGH AIRPORT, NC US                  1013.2
...                   ...                     ...                     ...
36074 2024-12-31 20:51:00  RALEIGH AIRPORT, NC US                  1002.7
36075 2024-12-31 21:51:00  RALEIGH AIRPORT, NC US                  1004.1
36076 2024-12-31 22:00:00  RALEIGH AIRPORT, NC US                     NaN
36077 2024-12-31 22:51:00  RALEIGH AIRPORT, NC US                  1004.7
36078 2024-12-31 23:51:00  RALEIGH AIRPORT, NC US                  1005.1

       HourlyDewPointTemperature  HourlyDryBulbTemperature  \
0                           16.1                      18.9
1                           16.1                      18.9
2                           16.1                      18.9
3                           16.7                      18.9
4                           16.7                      18.3
...                          ...                       ...
36074                       11.7                      14.4
36075                       10.6                      13.3
36076                       10.6                      13.3
36077                        9.4                      12.2
36078                        6.7                      11.7

      HourlyPrecipitation HourlyPresentWeatherType  HourlyPressureChange  \
0                     NaN                      NaN                   NaN
1                     0.0                      NaN                  -0.5
2                     NaN                      NaN                  -0.5
3                     NaN                      NaN                   NaN
4                     0.0                      NaN                   NaN
...                   ...                      ...                   ...
36074                 0.0                      NaN                   NaN
36075                 2.3                      NaN                   0.6
36076                 NaN                      NaN                   0.6
36077                 0.0                      NaN                   NaN
36078                 0.0                      NaN                   NaN

       HourlyPressureTendency  HourlyRelativeHumidity  \
0                         NaN                    84.0
1                         5.0                    84.0
2                         5.0                    84.0
3                         NaN                    87.0
4                         NaN                    90.0
...                       ...                     ...
36074                     NaN                    84.0
36075                     3.0                    84.0
36076                     3.0                    84.0
36077                     NaN                    83.0
36078                     NaN                    72.0

                         HourlySkyConditions  HourlySeaLevelPressure  \
0                     BKN:07 6.4 OVC:08 70.1                     NaN
1        BKN:07 6.1 BKN:07 7.62 BKN:07 36.58                  1013.2
2                                        NaN                  1013.2
3                   BKN:07 3.66 OVC:08 12.19                     NaN
4                   BKN:07 3.05 BKN:07 11.58                  1012.9
...                                      ...                     ...
36074  SCT:04 8.84 SCT:04 21.34 BKN:07 33.53                  1002.5
36075  SCT:04 5.79 BKN:07 15.24 BKN:07 33.53                  1003.8
36076                                    4.5                  1003.8
36077              FEW:02 15.24 SCT:04 33.53                  1004.5
36078                           FEW:02 15.24                  1004.9

      HourlyVisibility HourlyWindDirection  HourlyWindGustSpeed  \
0               16.093               220.0                  NaN
1               16.093               220.0                  NaN
2                  NaN               220.0                  NaN
3               16.093               220.0                  NaN
4               16.093               220.0                  NaN
...                ...                 ...                  ...
36074           16.093                 190                  NaN
36075           16.093                 260                  NaN
36076             16.0                 260                  NaN
36077           16.093                 260                  NaN
36078           16.093                 250                  NaN

      HourlyWindSpeed             DateTime Airport
0                 5.7  2022-01-01 00:29:00     RDU
1                 5.1  2022-01-01 00:51:00     RDU
2                 5.1  2022-01-01 01:00:00     RDU
3                 4.6  2022-01-01 01:33:00     RDU
4                 4.1  2022-01-01 01:51:00     RDU
...               ...                  ...     ...
36074             2.6  2024-12-31 20:51:00     RDU
36075             3.6  2024-12-31 21:51:00     RDU
36076             3.6  2024-12-31 22:00:00     RDU
36077             3.6  2024-12-31 22:51:00     RDU
36078             2.6  2024-12-31 23:51:00     RDU

[36079 rows x 18 columns]

In [6]:
flight['DEP_TIME'] = flight['DEP_TIME'].astype(str).str.strip()
valid_mask = flight['DEP_TIME'].str.fullmatch(r'\d{4}', na=False)
invalid_rows = flight[~valid_mask]
invalid_count = len(invalid_rows)
invalid_ratio = invalid_count / len(flight) * 100
print(invalid_rows)
print(invalid_count)
print(invalid_ratio)

       YEAR  QUARTER  MONTH  DAY_OF_MONTH  DAY_OF_WEEK    FL_DATE  \
15948  2023        4     11            10            5 2023-11-10
17518  2023        4     11            11            6 2023-11-11
20657  2023        4     11            13            1 2023-11-13
33675  2023        4     11            21            2 2023-11-21

         ORIGIN_CITY_NAME ORIGIN_STATE_NM DEST         DEST_CITY_NAME  ...  \
15948  Raleigh/Durham, NC  North Carolina  DFW  Dallas/Fort Worth, TX  ...
17518  Raleigh/Durham, NC  North Carolina  SEA            Seattle, WA  ...
20657  Raleigh/Durham, NC  North Carolina  BOS             Boston, MA  ...
33675  Raleigh/Durham, NC  North Carolina  SEA            Seattle, WA  ...

      ARR_DELAY_NEW CANCELLED AIR_TIME  FLIGHTS  DISTANCE  CARRIER_DELAY  \
15948           NaN       1.0      NaN      1.0    1061.0            NaN
17518           NaN       1.0      NaN      1.0    2354.0            NaN
20657           NaN       1.0      NaN      1.0     612.0            NaN
33675           NaN       1.0      NaN      1.0    2354.0            NaN

       WEATHER_DELAY  NAS_DELAY  SECURITY_DELAY  LATE_AIRCRAFT_DELAY
15948            NaN        NaN             NaN                  NaN
17518            NaN        NaN             NaN                  NaN
20657            NaN        NaN             NaN                  NaN
33675            NaN        NaN             NaN                  NaN

[4 rows x 29 columns]
4
0.08022462896109105

In [7]:
print(flight['DEP_TIME'])

1276     0558
1385     1924
1386     0616
1387     0631
1388     0646
         ...
46961    0512
46962    0810
46963    1549
46944    1125
47067    1822
Name: DEP_TIME, Length: 4986, dtype: object

In [8]:
flight = flight[valid_mask].copy()
flight = flight.reset_index(drop=True)

In [9]:
flight

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST,DEST_CITY_NAME,...,ARR_DELAY_NEW,CANCELLED,AIR_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2023,4,11,1,3,2023-11-01,"Raleigh/Durham, NC",North Carolina,ATL,"Atlanta, GA",...,0.0,0.0,59.0,1.0,356.0,NaN,NaN,NaN,NaN,NaN
1,2023,4,11,1,3,2023-11-01,"Raleigh/Durham, NC",North Carolina,LAX,"Los Angeles, CA",...,1.0,0.0,301.0,1.0,2239.0,NaN,NaN,NaN,NaN,NaN
2,2023,4,11,1,3,2023-11-01,"Raleigh/Durham, NC",North Carolina,LGA,"New York, NY",...,16.0,0.0,64.0,1.0,431.0,11.0,0.0,5.0,0.0,0.0
3,2023,4,11,1,3,2023-11-01,"Raleigh/Durham, NC",North Carolina,LGA,"New York, NY",...,53.0,0.0,62.0,1.0,431.0,44.0,0.0,9.0,0.0,0.0
4,2023,4,11,1,3,2023-11-01,"Raleigh/Durham, NC",North Carolina,LGA,"New York, NY",...,0.0,0.0,64.0,1.0,431.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4977,2023,4,11,30,4,2023-11-30,"Raleigh/Durham, NC",North Carolina,DEN,"Denver, CO",...,0.0,0.0,203.0,1.0,1436.0,NaN,NaN,NaN,NaN,NaN
4978,2023,4,11,30,4,2023-11-30,"Raleigh/Durham, NC",North Carolina,DEN,"Denver, CO",...,0.0,0.0,205.0,1.0,1436.0,NaN,NaN,NaN,NaN,NaN
4979,2023,4,11,30,4,2023-11-30,"Raleigh/Durham, NC",North Carolina,DEN,"Denver, CO",...,0.0,0.0,210.0,1.0,1436.0,NaN,NaN,NaN,NaN,NaN
4980,2023,4,11,30,4,2023-11-30,"Raleigh/Durham, NC",North Carolina,CLT,"Charlotte, NC",...,0.0,0.0,38.0,1.0,130.0,NaN,NaN,NaN,NaN,NaN
4981,2023,4,11,30,4,2023-11-30,"Raleigh/Durham, NC",North Carolina,TPA,"Tampa, FL",...,11.0,0.0,86.0,1.0,587.0,NaN,NaN,NaN,NaN,NaN

In [10]:
flight['DEP_TIME'] = flight['DEP_TIME'].astype(str).str.zfill(4)
flight['DEP_HOUR'] = flight['DEP_TIME'].str[:2].astype(int)
flight['DEP_MIN'] = flight['DEP_TIME'].str[2:].astype(int)
flight['DEP_DATETIME'] = flight.apply(
    lambda row: row['FL_DATE'] + pd.Timedelta(hours=row['DEP_HOUR'], minutes=row['DEP_MIN']),
    axis=1
)

In [11]:
flight

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST,DEST_CITY_NAME,...,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DEP_HOUR,DEP_MIN,DEP_DATETIME
0,2023,4,11,1,3,2023-11-01,"Raleigh/Durham, NC",North Carolina,ATL,"Atlanta, GA",...,1.0,356.0,NaN,NaN,NaN,NaN,NaN,5,58,2023-11-01 05:58:00
1,2023,4,11,1,3,2023-11-01,"Raleigh/Durham, NC",North Carolina,LAX,"Los Angeles, CA",...,1.0,2239.0,NaN,NaN,NaN,NaN,NaN,19,24,2023-11-01 19:24:00
2,2023,4,11,1,3,2023-11-01,"Raleigh/Durham, NC",North Carolina,LGA,"New York, NY",...,1.0,431.0,11.0,0.0,5.0,0.0,0.0,6,16,2023-11-01 06:16:00
3,2023,4,11,1,3,2023-11-01,"Raleigh/Durham, NC",North Carolina,LGA,"New York, NY",...,1.0,431.0,44.0,0.0,9.0,0.0,0.0,6,31,2023-11-01 06:31:00
4,2023,4,11,1,3,2023-11-01,"Raleigh/Durham, NC",North Carolina,LGA,"New York, NY",...,1.0,431.0,NaN,NaN,NaN,NaN,NaN,6,46,2023-11-01 06:46:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4977,2023,4,11,30,4,2023-11-30,"Raleigh/Durham, NC",North Carolina,DEN,"Denver, CO",...,1.0,1436.0,NaN,NaN,NaN,NaN,NaN,5,12,2023-11-30 05:12:00
4978,2023,4,11,30,4,2023-11-30,"Raleigh/Durham, NC",North Carolina,DEN,"Denver, CO",...,1.0,1436.0,NaN,NaN,NaN,NaN,NaN,8,10,2023-11-30 08:10:00
4979,2023,4,11,30,4,2023-11-30,"Raleigh/Durham, NC",North Carolina,DEN,"Denver, CO",...,1.0,1436.0,NaN,NaN,NaN,NaN,NaN,15,49,2023-11-30 15:49:00
4980,2023,4,11,30,4,2023-11-30,"Raleigh/Durham, NC",North Carolina,CLT,"Charlotte, NC",...,1.0,130.0,NaN,NaN,NaN,NaN,NaN,11,25,2023-11-30 11:25:00
4981,2023,4,11,30,4,2023-11-30,"Raleigh/Durham, NC",North Carolina,TPA,"Tampa, FL",...,1.0,587.0,NaN,NaN,NaN,NaN,NaN,18,22,2023-11-30 18:22:00

In [12]:
flight = flight.sort_values('DEP_DATETIME')
weather = weather.sort_values('DATE')
flight

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST,DEST_CITY_NAME,...,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DEP_HOUR,DEP_MIN,DEP_DATETIME
150,2023,4,11,1,3,2023-11-01,"Raleigh/Durham, NC",North Carolina,DFW,"Dallas/Fort Worth, TX",...,1.0,1061.0,NaN,NaN,NaN,NaN,NaN,5,5,2023-11-01 05:05:00
101,2023,4,11,1,3,2023-11-01,"Raleigh/Durham, NC",North Carolina,CLT,"Charlotte, NC",...,1.0,130.0,NaN,NaN,NaN,NaN,NaN,5,19,2023-11-01 05:19:00
29,2023,4,11,1,3,2023-11-01,"Raleigh/Durham, NC",North Carolina,JFK,"New York, NY",...,1.0,427.0,NaN,NaN,NaN,NaN,NaN,5,23,2023-11-01 05:23:00
15,2023,4,11,1,3,2023-11-01,"Raleigh/Durham, NC",North Carolina,MCO,"Orlando, FL",...,1.0,534.0,NaN,NaN,NaN,NaN,NaN,5,33,2023-11-01 05:33:00
136,2023,4,11,1,3,2023-11-01,"Raleigh/Durham, NC",North Carolina,DTW,"Detroit, MI",...,1.0,501.0,NaN,NaN,NaN,NaN,NaN,5,37,2023-11-01 05:37:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4901,2023,4,11,30,4,2023-11-30,"Raleigh/Durham, NC",North Carolina,EWR,"Newark, NJ",...,1.0,416.0,NaN,NaN,NaN,NaN,NaN,20,28,2023-11-30 20:28:00
4872,2023,4,11,30,4,2023-11-30,"Raleigh/Durham, NC",North Carolina,SJU,"San Juan, PR",...,1.0,1433.0,NaN,NaN,NaN,NaN,NaN,20,47,2023-11-30 20:47:00
4961,2023,4,11,30,4,2023-11-30,"Raleigh/Durham, NC",North Carolina,DEN,"Denver, CO",...,1.0,1436.0,NaN,NaN,NaN,NaN,NaN,20,52,2023-11-30 20:52:00
4904,2023,4,11,30,4,2023-11-30,"Raleigh/Durham, NC",North Carolina,BNA,"Nashville, TN",...,1.0,442.0,0.0,0.0,0.0,0.0,34.0,20,57,2023-11-30 20:57:00
4976,2023,4,11,30,4,2023-11-30,"Raleigh/Durham, NC",North Carolina,DCA,"Washington, DC",...,1.0,227.0,0.0,0.0,3.0,0.0,366.0,21,5,2023-11-30 21:05:00

In [13]:
merged = pd.merge_asof(
    flight,
    weather,
    left_on="DEP_DATETIME",
    right_on="DATE",
    direction="nearest",   
    tolerance=pd.Timedelta("2H")  
)

C:\Users\ljq\AppData\Local\Temp\ipykernel_15040\1018922324.py:7: FutureWarning: 'H' is deprecated and will be removed in a future version. Please use 'h' instead of 'H'.
  tolerance=pd.Timedelta("2H")

In [14]:
merged

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST,DEST_CITY_NAME,...,HourlyPressureTendency,HourlyRelativeHumidity,HourlySkyConditions,HourlySeaLevelPressure,HourlyVisibility,HourlyWindDirection,HourlyWindGustSpeed,HourlyWindSpeed,DateTime,Airport
0,2023,4,11,1,3,2023-11-01,"Raleigh/Durham, NC",North Carolina,DFW,"Dallas/Fort Worth, TX",...,NaN,63.0,FEW:02 51.82,1017.9,16.093,320.0,NaN,2.1,2023-11-01 04:51:00,RDU
1,2023,4,11,1,3,2023-11-01,"Raleigh/Durham, NC",North Carolina,CLT,"Charlotte, NC",...,NaN,63.0,FEW:02 51.82,1017.9,16.093,320.0,NaN,2.1,2023-11-01 04:51:00,RDU
2,2023,4,11,1,3,2023-11-01,"Raleigh/Durham, NC",North Carolina,JFK,"New York, NY",...,NaN,60.0,CLR:00,1019.0,16.093,VRB,NaN,3.6,2023-11-01 05:51:00,RDU
3,2023,4,11,1,3,2023-11-01,"Raleigh/Durham, NC",North Carolina,MCO,"Orlando, FL",...,NaN,60.0,CLR:00,1019.0,16.093,VRB,NaN,3.6,2023-11-01 05:51:00,RDU
4,2023,4,11,1,3,2023-11-01,"Raleigh/Durham, NC",North Carolina,DTW,"Detroit, MI",...,NaN,60.0,CLR:00,1019.0,16.093,VRB,NaN,3.6,2023-11-01 05:51:00,RDU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4977,2023,4,11,30,4,2023-11-30,"Raleigh/Durham, NC",North Carolina,EWR,"Newark, NJ",...,NaN,48.0,FEW:02 76.2,1023.0,16.093,200.0,NaN,2.6,2023-11-30 20:51:00,RDU
4978,2023,4,11,30,4,2023-11-30,"Raleigh/Durham, NC",North Carolina,SJU,"San Juan, PR",...,NaN,48.0,FEW:02 76.2,1023.0,16.093,200.0,NaN,2.6,2023-11-30 20:51:00,RDU
4979,2023,4,11,30,4,2023-11-30,"Raleigh/Durham, NC",North Carolina,DEN,"Denver, CO",...,NaN,48.0,FEW:02 76.2,1023.0,16.093,200.0,NaN,2.6,2023-11-30 20:51:00,RDU
4980,2023,4,11,30,4,2023-11-30,"Raleigh/Durham, NC",North Carolina,BNA,"Nashville, TN",...,NaN,48.0,FEW:02 76.2,1023.0,16.093,200.0,NaN,2.6,2023-11-30 20:51:00,RDU
4981,2023,4,11,30,4,2023-11-30,"Raleigh/Durham, NC",North Carolina,DCA,"Washington, DC",...,NaN,48.0,FEW:02 76.2,1023.0,16.093,200.0,NaN,2.6,2023-11-30 20:51:00,RDU

In [15]:
print(merged["DATE"].isna().mean())

0.0

In [16]:
merged["time_diff_min"] = (merged["DEP_DATETIME"] - merged["DATE"]).abs().dt.total_seconds() / 60

In [17]:
print(merged)

      YEAR  QUARTER  MONTH  DAY_OF_MONTH  DAY_OF_WEEK    FL_DATE  \
0     2023        4     11             1            3 2023-11-01
1     2023        4     11             1            3 2023-11-01
2     2023        4     11             1            3 2023-11-01
3     2023        4     11             1            3 2023-11-01
4     2023        4     11             1            3 2023-11-01
...    ...      ...    ...           ...          ...        ...
4977  2023        4     11            30            4 2023-11-30
4978  2023        4     11            30            4 2023-11-30
4979  2023        4     11            30            4 2023-11-30
4980  2023        4     11            30            4 2023-11-30
4981  2023        4     11            30            4 2023-11-30

        ORIGIN_CITY_NAME ORIGIN_STATE_NM DEST         DEST_CITY_NAME  ...  \
0     Raleigh/Durham, NC  North Carolina  DFW  Dallas/Fort Worth, TX  ...
1     Raleigh/Durham, NC  North Carolina  CLT          Charlotte, NC  ...
2     Raleigh/Durham, NC  North Carolina  JFK           New York, NY  ...
3     Raleigh/Durham, NC  North Carolina  MCO            Orlando, FL  ...
4     Raleigh/Durham, NC  North Carolina  DTW            Detroit, MI  ...
...                  ...             ...  ...                    ...  ...
4977  Raleigh/Durham, NC  North Carolina  EWR             Newark, NJ  ...
4978  Raleigh/Durham, NC  North Carolina  SJU           San Juan, PR  ...
4979  Raleigh/Durham, NC  North Carolina  DEN             Denver, CO  ...
4980  Raleigh/Durham, NC  North Carolina  BNA          Nashville, TN  ...
4981  Raleigh/Durham, NC  North Carolina  DCA         Washington, DC  ...

     HourlyRelativeHumidity HourlySkyConditions HourlySeaLevelPressure  \
0                      63.0        FEW:02 51.82                 1017.9
1                      63.0        FEW:02 51.82                 1017.9
2                      60.0              CLR:00                 1019.0
3                      60.0              CLR:00                 1019.0
4                      60.0              CLR:00                 1019.0
...                     ...                 ...                    ...
4977                   48.0         FEW:02 76.2                 1023.0
4978                   48.0         FEW:02 76.2                 1023.0
4979                   48.0         FEW:02 76.2                 1023.0
4980                   48.0         FEW:02 76.2                 1023.0
4981                   48.0         FEW:02 76.2                 1023.0

      HourlyVisibility  HourlyWindDirection  HourlyWindGustSpeed  \
0               16.093                320.0                  NaN
1               16.093                320.0                  NaN
2               16.093                  VRB                  NaN
3               16.093                  VRB                  NaN
4               16.093                  VRB                  NaN
...                ...                  ...                  ...
4977            16.093                200.0                  NaN
4978            16.093                200.0                  NaN
4979            16.093                200.0                  NaN
4980            16.093                200.0                  NaN
4981            16.093                200.0                  NaN

      HourlyWindSpeed             DateTime  Airport  time_diff_min
0                 2.1  2023-11-01 04:51:00      RDU           14.0
1                 2.1  2023-11-01 04:51:00      RDU           28.0
2                 3.6  2023-11-01 05:51:00      RDU           28.0
3                 3.6  2023-11-01 05:51:00      RDU           18.0
4                 3.6  2023-11-01 05:51:00      RDU           14.0
...               ...                  ...      ...            ...
4977              2.6  2023-11-30 20:51:00      RDU           23.0
4978              2.6  2023-11-30 20:51:00      RDU            4.0
4979              2.6  2023-11-30 20:51:00      RDU            1.0
4980              2.6  2023-11-30 20:51:00      RDU            6.0
4981              2.6  2023-11-30 20:51:00      RDU           14.0

[4982 rows x 51 columns]

In [18]:
nan_counts = merged.isna().sum()
print(nan_counts)

YEAR                            0
QUARTER                         0
MONTH                           0
DAY_OF_MONTH                    0
DAY_OF_WEEK                     0
FL_DATE                         0
ORIGIN_CITY_NAME                0
ORIGIN_STATE_NM                 0
DEST                            0
DEST_CITY_NAME                  0
DEST_STATE_ABR                  0
DEST_STATE_NM                   0
DEP_TIME                        0
DEP_DELAY                       0
DEP_DELAY_NEW                   0
DEP_DEL15                       0
DEP_DELAY_GROUP                 0
ARR_TIME                        0
ARR_DELAY                       3
ARR_DELAY_NEW                   3
CANCELLED                       0
AIR_TIME                        3
FLIGHTS                         0
DISTANCE                        0
CARRIER_DELAY                4268
WEATHER_DELAY                4268
NAS_DELAY                    4268
SECURITY_DELAY               4268
LATE_AIRCRAFT_DELAY          4268
DEP_HOUR                        0
DEP_MIN                         0
DEP_DATETIME                    0
DATE                            0
NAME                            0
HourlyAltimeterSetting        847
HourlyDewPointTemperature       0
HourlyDryBulbTemperature        0
HourlyPrecipitation           915
HourlyPresentWeatherType     4764
HourlyPressureChange         3040
HourlyPressureTendency       3040
HourlyRelativeHumidity          0
HourlySkyConditions           537
HourlySeaLevelPressure         96
HourlyVisibility                0
HourlyWindDirection          1912
HourlyWindGustSpeed          4558
HourlyWindSpeed                 0
DateTime                        0
Airport                         0
time_diff_min                   0
dtype: int64

In [19]:
total_weather_delay = merged['WEATHER_DELAY'].sum()
total_weather_delay

np.float64(373.0)

In [20]:
merged.to_csv("rdu_flight_weather.csv", index=False)

In [21]:

flight = pd.read_csv("cse216-dataset\cse216-dataset\T_ONTIME_REPORTING 4.csv",dtype={'CRS_DEP_TIME': str})
flight = flight[flight['ORIGIN_CITY_NAME'] == 'Raleigh/Durham, NC']
flight

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST,...,DEP_DELAY_GROUP,CRS_ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,ARR_DEL15,CANCELLED,CRS_ELAPSED_TIME,AIR_TIME,FLIGHTS,DISTANCE
13405,2022,1,2,1,2,2/1/2022 12:00:00 AM,RDU,"Raleigh/Durham, NC",North Carolina,ATL,...,-1.0,731,-19.0,0.0,0.0,0.0,91.0,58.0,1.0,356.0
13406,2022,1,2,1,2,2/1/2022 12:00:00 AM,RDU,"Raleigh/Durham, NC",North Carolina,ATL,...,0.0,745,-10.0,0.0,0.0,0.0,100.0,59.0,1.0,356.0
13407,2022,1,2,1,2,2/1/2022 12:00:00 AM,RDU,"Raleigh/Durham, NC",North Carolina,ATL,...,0.0,835,-9.0,0.0,0.0,0.0,95.0,58.0,1.0,356.0
13408,2022,1,2,1,2,2/1/2022 12:00:00 AM,RDU,"Raleigh/Durham, NC",North Carolina,ATL,...,-1.0,1009,-2.0,0.0,0.0,0.0,94.0,59.0,1.0,356.0
13409,2022,1,2,1,2,2/1/2022 12:00:00 AM,RDU,"Raleigh/Durham, NC",North Carolina,ATL,...,-1.0,1119,-11.0,0.0,0.0,0.0,92.0,60.0,1.0,356.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492442,2022,1,2,28,1,2/28/2022 12:00:00 AM,RDU,"Raleigh/Durham, NC",North Carolina,STL,...,-1.0,1555,-24.0,0.0,0.0,0.0,140.0,108.0,1.0,667.0
492443,2022,1,2,28,1,2/28/2022 12:00:00 AM,RDU,"Raleigh/Durham, NC",North Carolina,TPA,...,-1.0,835,-2.0,0.0,0.0,0.0,115.0,93.0,1.0,587.0
492444,2022,1,2,28,1,2/28/2022 12:00:00 AM,RDU,"Raleigh/Durham, NC",North Carolina,TPA,...,-1.0,900,4.0,4.0,0.0,0.0,120.0,97.0,1.0,587.0
492445,2022,1,2,28,1,2/28/2022 12:00:00 AM,RDU,"Raleigh/Durham, NC",North Carolina,TPA,...,-1.0,1150,-10.0,0.0,0.0,0.0,113.0,96.0,1.0,587.0
492446,2022,1,2,28,1,2/28/2022 12:00:00 AM,RDU,"Raleigh/Durham, NC",North Carolina,TPA,...,3.0,1859,46.0,46.0,1.0,0.0,109.0,91.0,1.0,587.0

In [22]:
flight["FL_DATE"] = pd.to_datetime(flight["FL_DATE"], format="%m/%d/%Y %I:%M:%S %p")
flight = flight.sort_values("FL_DATE")
print(flight)
flight['CRS_DEP_TIME'] = flight['CRS_DEP_TIME'].astype(str).str.strip()
valid_mask = flight['CRS_DEP_TIME'].str.fullmatch(r'\d{4}', na=False)
invalid_rows = flight[~valid_mask]
invalid_count = len(invalid_rows)
invalid_ratio = invalid_count / len(flight) * 100
print(invalid_rows)
print(invalid_count)
print(invalid_ratio)

        YEAR  QUARTER  MONTH  DAY_OF_MONTH  DAY_OF_WEEK    FL_DATE ORIGIN  \
13405   2022        1      2             1            2 2022-02-01    RDU
13496   2022        1      2             1            2 2022-02-01    RDU
13497   2022        1      2             1            2 2022-02-01    RDU
13498   2022        1      2             1            2 2022-02-01    RDU
13499   2022        1      2             1            2 2022-02-01    RDU
...      ...      ...    ...           ...          ...        ...    ...
492344  2022        1      2            28            1 2022-02-28    RDU
492345  2022        1      2            28            1 2022-02-28    RDU
492346  2022        1      2            28            1 2022-02-28    RDU
492339  2022        1      2            28            1 2022-02-28    RDU
492446  2022        1      2            28            1 2022-02-28    RDU

          ORIGIN_CITY_NAME ORIGIN_STATE_NM DEST  ... DEP_DELAY_GROUP  \
13405   Raleigh/Durham, NC  North Carolina  ATL  ...            -1.0
13496   Raleigh/Durham, NC  North Carolina  LGA  ...            -1.0
13497   Raleigh/Durham, NC  North Carolina  LGA  ...            -1.0
13498   Raleigh/Durham, NC  North Carolina  LGA  ...            -1.0
13499   Raleigh/Durham, NC  North Carolina  LGA  ...            -1.0
...                    ...             ...  ...  ...             ...
492344  Raleigh/Durham, NC  North Carolina  DEN  ...             0.0
492345  Raleigh/Durham, NC  North Carolina  DEN  ...             0.0
492346  Raleigh/Durham, NC  North Carolina  DFW  ...            -1.0
492339  Raleigh/Durham, NC  North Carolina  DCA  ...            -1.0
492446  Raleigh/Durham, NC  North Carolina  TPA  ...             3.0

       CRS_ARR_TIME ARR_DELAY  ARR_DELAY_NEW  ARR_DEL15  CANCELLED  \
13405           731     -19.0            0.0        0.0        0.0
13496           759      -3.0            0.0        0.0        0.0
13497           858      25.0           25.0        1.0        0.0
13498          1039      -8.0            0.0        0.0        0.0
13499          1036      16.0           16.0        1.0        0.0
...             ...       ...            ...        ...        ...
492344         1806       0.0            0.0        0.0        0.0
492345         1900      -7.0            0.0        0.0        0.0
492346          735     -35.0            0.0        0.0        0.0
492339         1905     -21.0            0.0        0.0        0.0
492446         1859      46.0           46.0        1.0        0.0

        CRS_ELAPSED_TIME  AIR_TIME  FLIGHTS  DISTANCE
13405               91.0      58.0      1.0     356.0
13496               98.0      71.0      1.0     431.0
13497               93.0      73.0      1.0     431.0
13498              113.0      75.0      1.0     431.0
13499               96.0      73.0      1.0     431.0
...                  ...       ...      ...       ...
492344             246.0     210.0      1.0    1436.0
492345             240.0     213.0      1.0    1436.0
492346             200.0     135.0      1.0    1061.0
492339              75.0      46.0      1.0     227.0
492446             109.0      91.0      1.0     587.0

[4030 rows x 26 columns]
Empty DataFrame
Columns: [YEAR, QUARTER, MONTH, DAY_OF_MONTH, DAY_OF_WEEK, FL_DATE, ORIGIN, ORIGIN_CITY_NAME, ORIGIN_STATE_NM, DEST, DEST_CITY_NAME, DEST_STATE_NM, CRS_DEP_TIME, DEP_DELAY, DEP_DELAY_NEW, DEP_DEL15, DEP_DELAY_GROUP, CRS_ARR_TIME, ARR_DELAY, ARR_DELAY_NEW, ARR_DEL15, CANCELLED, CRS_ELAPSED_TIME, AIR_TIME, FLIGHTS, DISTANCE]
Index: []

[0 rows x 26 columns]
0
0.0

In [23]:
flight = flight[valid_mask].copy()
flight = flight.reset_index(drop=True)

In [24]:
flight['CRS_DEP_TIME'] = flight['CRS_DEP_TIME'].astype(str).str.zfill(4)
flight['CRS_DEP_HOUR'] = flight['CRS_DEP_TIME'].str[:2].astype(int)
flight['CRS_DEP_MIN'] = flight['CRS_DEP_TIME'].str[2:].astype(int)
flight['CRS_DEP_DATETIME'] = flight.apply(
    lambda row: row['FL_DATE'] + pd.Timedelta(hours=row['CRS_DEP_HOUR'], minutes=row['CRS_DEP_MIN']),
    axis=1
)

In [25]:
flight

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST,...,ARR_DELAY_NEW,ARR_DEL15,CANCELLED,CRS_ELAPSED_TIME,AIR_TIME,FLIGHTS,DISTANCE,CRS_DEP_HOUR,CRS_DEP_MIN,CRS_DEP_DATETIME
0,2022,1,2,1,2,2022-02-01,RDU,"Raleigh/Durham, NC",North Carolina,ATL,...,0.0,0.0,0.0,91.0,58.0,1.0,356.0,6,0,2022-02-01 06:00:00
1,2022,1,2,1,2,2022-02-01,RDU,"Raleigh/Durham, NC",North Carolina,LGA,...,0.0,0.0,0.0,98.0,71.0,1.0,431.0,6,21,2022-02-01 06:21:00
2,2022,1,2,1,2,2022-02-01,RDU,"Raleigh/Durham, NC",North Carolina,LGA,...,25.0,1.0,0.0,93.0,73.0,1.0,431.0,7,25,2022-02-01 07:25:00
3,2022,1,2,1,2,2022-02-01,RDU,"Raleigh/Durham, NC",North Carolina,LGA,...,0.0,0.0,0.0,113.0,75.0,1.0,431.0,8,46,2022-02-01 08:46:00
4,2022,1,2,1,2,2022-02-01,RDU,"Raleigh/Durham, NC",North Carolina,LGA,...,16.0,1.0,0.0,96.0,73.0,1.0,431.0,9,0,2022-02-01 09:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4025,2022,1,2,28,1,2022-02-28,RDU,"Raleigh/Durham, NC",North Carolina,DEN,...,0.0,0.0,0.0,246.0,210.0,1.0,1436.0,16,0,2022-02-28 16:00:00
4026,2022,1,2,28,1,2022-02-28,RDU,"Raleigh/Durham, NC",North Carolina,DEN,...,0.0,0.0,0.0,240.0,213.0,1.0,1436.0,17,0,2022-02-28 17:00:00
4027,2022,1,2,28,1,2022-02-28,RDU,"Raleigh/Durham, NC",North Carolina,DFW,...,0.0,0.0,0.0,200.0,135.0,1.0,1061.0,5,15,2022-02-28 05:15:00
4028,2022,1,2,28,1,2022-02-28,RDU,"Raleigh/Durham, NC",North Carolina,DCA,...,0.0,0.0,0.0,75.0,46.0,1.0,227.0,17,50,2022-02-28 17:50:00
4029,2022,1,2,28,1,2022-02-28,RDU,"Raleigh/Durham, NC",North Carolina,TPA,...,46.0,1.0,0.0,109.0,91.0,1.0,587.0,17,10,2022-02-28 17:10:00

In [26]:
flight = flight.sort_values('CRS_DEP_DATETIME')
flight

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST,...,ARR_DELAY_NEW,ARR_DEL15,CANCELLED,CRS_ELAPSED_TIME,AIR_TIME,FLIGHTS,DISTANCE,CRS_DEP_HOUR,CRS_DEP_MIN,CRS_DEP_DATETIME
140,2022,1,2,1,2,2022-02-01,RDU,"Raleigh/Durham, NC",North Carolina,DFW,...,0.0,0.0,0.0,204.0,148.0,1.0,1061.0,5,7,2022-02-01 05:07:00
136,2022,1,2,1,2,2022-02-01,RDU,"Raleigh/Durham, NC",North Carolina,DEN,...,0.0,0.0,0.0,250.0,206.0,1.0,1436.0,5,40,2022-02-01 05:40:00
112,2022,1,2,1,2,2022-02-01,RDU,"Raleigh/Durham, NC",North Carolina,EWR,...,10.0,0.0,0.0,93.0,63.0,1.0,416.0,5,40,2022-02-01 05:40:00
127,2022,1,2,1,2,2022-02-01,RDU,"Raleigh/Durham, NC",North Carolina,DCA,...,2.0,0.0,0.0,68.0,40.0,1.0,227.0,5,44,2022-02-01 05:44:00
128,2022,1,2,1,2,2022-02-01,RDU,"Raleigh/Durham, NC",North Carolina,DCA,...,0.0,0.0,0.0,73.0,44.0,1.0,227.0,6,0,2022-02-01 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4005,2022,1,2,28,1,2022-02-28,RDU,"Raleigh/Durham, NC",North Carolina,EWR,...,0.0,0.0,0.0,109.0,60.0,1.0,416.0,20,10,2022-02-28 20:10:00
3906,2022,1,2,28,1,2022-02-28,RDU,"Raleigh/Durham, NC",North Carolina,JFK,...,0.0,0.0,0.0,101.0,64.0,1.0,427.0,20,11,2022-02-28 20:11:00
4012,2022,1,2,28,1,2022-02-28,RDU,"Raleigh/Durham, NC",North Carolina,CLT,...,0.0,0.0,0.0,69.0,37.0,1.0,130.0,20,14,2022-02-28 20:14:00
3908,2022,1,2,28,1,2022-02-28,RDU,"Raleigh/Durham, NC",North Carolina,LAS,...,1.0,0.0,0.0,333.0,306.0,1.0,2026.0,21,16,2022-02-28 21:16:00
3913,2022,1,2,28,1,2022-02-28,RDU,"Raleigh/Durham, NC",North Carolina,PGD,...,21.0,1.0,0.0,117.0,95.0,1.0,645.0,21,33,2022-02-28 21:33:00

In [27]:
merged = pd.merge_asof(
    flight,
    weather,
    left_on="CRS_DEP_DATETIME",
    right_on="DATE",
    direction="nearest",   
    tolerance=pd.Timedelta("2H")  
)
merged

C:\Users\ljq\AppData\Local\Temp\ipykernel_15040\317858021.py:7: FutureWarning: 'H' is deprecated and will be removed in a future version. Please use 'h' instead of 'H'.
  tolerance=pd.Timedelta("2H")

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST,...,HourlyPressureTendency,HourlyRelativeHumidity,HourlySkyConditions,HourlySeaLevelPressure,HourlyVisibility,HourlyWindDirection,HourlyWindGustSpeed,HourlyWindSpeed,DateTime,Airport
0,2022,1,2,1,2,2022-02-01,RDU,"Raleigh/Durham, NC",North Carolina,DFW,...,NaN,92.0,CLR:00,1028.2,16.093,30.0,NaN,3.6,2022-02-01 04:51:00,RDU
1,2022,1,2,1,2,2022-02-01,RDU,"Raleigh/Durham, NC",North Carolina,DEN,...,NaN,96.0,CLR:00,1029.1,16.093,20.0,NaN,1.5,2022-02-01 05:51:00,RDU
2,2022,1,2,1,2,2022-02-01,RDU,"Raleigh/Durham, NC",North Carolina,EWR,...,NaN,96.0,CLR:00,1029.1,16.093,20.0,NaN,1.5,2022-02-01 05:51:00,RDU
3,2022,1,2,1,2,2022-02-01,RDU,"Raleigh/Durham, NC",North Carolina,DCA,...,NaN,96.0,CLR:00,1029.1,16.093,20.0,NaN,1.5,2022-02-01 05:51:00,RDU
4,2022,1,2,1,2,2022-02-01,RDU,"Raleigh/Durham, NC",North Carolina,DCA,...,NaN,96.0,CLR:00,1029.1,16.093,20.0,NaN,1.5,2022-02-01 05:51:00,RDU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4025,2022,1,2,28,1,2022-02-28,RDU,"Raleigh/Durham, NC",North Carolina,EWR,...,NaN,50.0,FEW:02 76.2,1022.6,16.093,110.0,NaN,2.6,2022-02-28 19:51:00,RDU
4026,2022,1,2,28,1,2022-02-28,RDU,"Raleigh/Durham, NC",North Carolina,JFK,...,NaN,50.0,FEW:02 76.2,1022.6,16.093,110.0,NaN,2.6,2022-02-28 19:51:00,RDU
4027,2022,1,2,28,1,2022-02-28,RDU,"Raleigh/Durham, NC",North Carolina,CLT,...,NaN,50.0,FEW:02 76.2,1022.6,16.093,110.0,NaN,2.6,2022-02-28 19:51:00,RDU
4028,2022,1,2,28,1,2022-02-28,RDU,"Raleigh/Durham, NC",North Carolina,LAS,...,NaN,54.0,CLR:00,1022.8,16.093,130.0,NaN,2.1,2022-02-28 20:51:00,RDU
4029,2022,1,2,28,1,2022-02-28,RDU,"Raleigh/Durham, NC",North Carolina,PGD,...,1.0,56.0,CLR:00,1022.9,16.093,120.0,NaN,5.7,2022-02-28 21:51:00,RDU

In [28]:
merged.to_csv("new.csv", index=False)

In [29]:
from pathlib import Path
root_path = Path("processed_flight_data")
csv_files = list(root_path.rglob("*.csv")) 
print(len(csv_files))
df_list = []
for file in csv_files:
    try:
        df = pd.read_csv(file, dtype=str)  
        df["source_file"] = file.name   
        print(file.name)
        df_list.append(df)
    except Exception as e:
        print(f"⚠️ failure load: {file}，for: {e}")
data = pd.concat(df_list, ignore_index=True)
data

38
processed_T_ONTIME_REPORTING 10.csv
processed_T_ONTIME_REPORTING 11.csv
processed_T_ONTIME_REPORTING 12.csv
processed_T_ONTIME_REPORTING 13.csv
processed_T_ONTIME_REPORTING 14.csv
processed_T_ONTIME_REPORTING 15.csv
processed_T_ONTIME_REPORTING 16.csv
processed_T_ONTIME_REPORTING 17.csv
processed_T_ONTIME_REPORTING 18.csv
processed_T_ONTIME_REPORTING 19.csv
processed_T_ONTIME_REPORTING 20.csv
processed_T_ONTIME_REPORTING 21.csv
processed_T_ONTIME_REPORTING 22.csv
processed_T_ONTIME_REPORTING 23.csv
processed_T_ONTIME_REPORTING 24.csv
processed_T_ONTIME_REPORTING 25.csv
processed_T_ONTIME_REPORTING 26.csv
processed_T_ONTIME_REPORTING 27.csv
processed_T_ONTIME_REPORTING 28.csv
processed_T_ONTIME_REPORTING 29.csv
processed_T_ONTIME_REPORTING 30.csv
processed_T_ONTIME_REPORTING 31.csv
processed_T_ONTIME_REPORTING 32.csv
processed_T_ONTIME_REPORTING 33.csv
processed_T_ONTIME_REPORTING 34.csv
processed_T_ONTIME_REPORTING 35.csv
processed_T_ONTIME_REPORTING 36.csv
processed_T_ONTIME_REPORTING 37.csv
processed_T_ONTIME_REPORTING 38.csv
processed_T_ONTIME_REPORTING 39.csv
processed_T_ONTIME_REPORTING 4.csv
processed_T_ONTIME_REPORTING 40.csv
processed_T_ONTIME_REPORTING 41.csv
processed_T_ONTIME_REPORTING 5.csv
processed_T_ONTIME_REPORTING 6.csv
processed_T_ONTIME_REPORTING 7.csv
processed_T_ONTIME_REPORTING 8.csv
processed_T_ONTIME_REPORTING 9.csv

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST,...,HourlySkyConditions,HourlySeaLevelPressure,HourlyVisibility,HourlyWindDirection,HourlyWindGustSpeed,HourlyWindSpeed,DateTime,Airport,time_diff_min,source_file
0,2022,2,5,1,7,2022-05-01,RDU,"Raleigh/Durham, NC",North Carolina,DFW,...,FEW:02 1.52 FEW:02 76.2,NaN,4.023,NaN,NaN,0.0,2022-05-01 05:14:00,RDU,16.0,processed_T_ONTIME_REPORTING 10.csv
1,2022,2,5,1,7,2022-05-01,RDU,"Raleigh/Durham, NC",North Carolina,MIA,...,FEW:02 1.52 SCT:04 76.2,1018.7,12.875,NaN,NaN,0.0,2022-05-01 05:51:00,RDU,16.0,processed_T_ONTIME_REPORTING 10.csv
2,2022,2,5,1,7,2022-05-01,RDU,"Raleigh/Durham, NC",North Carolina,BNA,...,FEW:02 1.52 SCT:04 76.2,1018.7,12.875,NaN,NaN,0.0,2022-05-01 05:51:00,RDU,11.0,processed_T_ONTIME_REPORTING 10.csv
3,2022,2,5,1,7,2022-05-01,RDU,"Raleigh/Durham, NC",North Carolina,DTW,...,FEW:02 1.52 SCT:04 76.2,1018.7,12.875,NaN,NaN,0.0,2022-05-01 05:51:00,RDU,6.0,processed_T_ONTIME_REPORTING 10.csv
4,2022,2,5,1,7,2022-05-01,RDU,"Raleigh/Durham, NC",North Carolina,ATL,...,FEW:02 1.52 SCT:04 76.2,1018.7,12.875,NaN,NaN,0.0,2022-05-01 05:51:00,RDU,9.0,processed_T_ONTIME_REPORTING 10.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183165,2022,2,4,30,6,2022-04-30,RDU,"Raleigh/Durham, NC",North Carolina,MIA,...,NaN,1019.4,NaN,20.0,NaN,2.6,2022-04-30 19:00:00,RDU,20.0,processed_T_ONTIME_REPORTING 9.csv
183166,2022,2,4,30,6,2022-04-30,RDU,"Raleigh/Durham, NC",North Carolina,IAD,...,BKN:07 25.91 OVC:08 33.53,1019.7,16.093,50.0,NaN,3.1,2022-04-30 19:51:00,RDU,2.0,processed_T_ONTIME_REPORTING 9.csv
183167,2022,2,4,30,6,2022-04-30,RDU,"Raleigh/Durham, NC",North Carolina,JFK,...,FEW:02 28.96 BKN:07 57.91,1019.5,16.093,NaN,NaN,0.0,2022-04-30 20:51:00,RDU,23.0,processed_T_ONTIME_REPORTING 9.csv
183168,2022,2,4,30,6,2022-04-30,RDU,"Raleigh/Durham, NC",North Carolina,PHL,...,FEW:02 28.96 BKN:07 57.91,1019.5,16.093,NaN,NaN,0.0,2022-04-30 20:51:00,RDU,19.0,processed_T_ONTIME_REPORTING 9.csv
183169,2022,2,4,30,6,2022-04-30,RDU,"Raleigh/Durham, NC",North Carolina,LAS,...,FEW:02 28.96 BKN:07 57.91,1019.5,16.093,NaN,NaN,0.0,2022-04-30 20:51:00,RDU,24.0,processed_T_ONTIME_REPORTING 9.csv

In [30]:
data['FL_DATE'] = pd.to_datetime(data['FL_DATE'], format='%Y-%m-%d')
data = data.sort_values('FL_DATE')

In [31]:
data

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST,...,HourlySkyConditions,HourlySeaLevelPressure,HourlyVisibility,HourlyWindDirection,HourlyWindGustSpeed,HourlyWindSpeed,DateTime,Airport,time_diff_min,source_file
169818,2022,1,1,1,6,2022-01-01,RDU,"Raleigh/Durham, NC",North Carolina,FLL,...,OVC:08 2.13,1011.4,16.093,220.0,NaN,4.1,2022-01-01 05:51:00,RDU,9.0,processed_T_ONTIME_REPORTING 7.csv
169908,2022,1,1,1,6,2022-01-01,RDU,"Raleigh/Durham, NC",North Carolina,MIA,...,SCT:04 7.32 BKN:07 11.28 OVC:08 15.24,1007.6,9.656,280.0,NaN,4.1,2022-01-01 17:51:00,RDU,1.0,processed_T_ONTIME_REPORTING 7.csv
169907,2022,1,1,1,6,2022-01-01,RDU,"Raleigh/Durham, NC",North Carolina,EWR,...,SCT:04 7.32 BKN:07 11.28 OVC:08 15.24,1007.6,9.656,280.0,NaN,4.1,2022-01-01 17:51:00,RDU,3.0,processed_T_ONTIME_REPORTING 7.csv
169906,2022,1,1,1,6,2022-01-01,RDU,"Raleigh/Durham, NC",North Carolina,BOS,...,SCT:04 7.32 BKN:07 11.28 OVC:08 15.24,1007.6,9.656,280.0,NaN,4.1,2022-01-01 17:51:00,RDU,6.0,processed_T_ONTIME_REPORTING 7.csv
169905,2022,1,1,1,6,2022-01-01,RDU,"Raleigh/Durham, NC",North Carolina,PHL,...,SCT:04 7.32 BKN:07 11.28 OVC:08 15.24,1007.6,9.656,280.0,NaN,4.1,2022-01-01 17:51:00,RDU,13.0,processed_T_ONTIME_REPORTING 7.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161363,2024,4,12,31,2,2024-12-31,RDU,"Raleigh/Durham, NC",North Carolina,MCO,...,FEW:02 9.14 FEW:02 13.72,1006.8,16.093,170,10.3,5.1,2024-12-31 11:51:00,RDU,3.0,processed_T_ONTIME_REPORTING 41.csv
161362,2024,4,12,31,2,2024-12-31,RDU,"Raleigh/Durham, NC",North Carolina,DFW,...,FEW:02 9.14 FEW:02 13.72,1006.8,16.093,170,10.3,5.1,2024-12-31 11:51:00,RDU,19.0,processed_T_ONTIME_REPORTING 41.csv
161361,2024,4,12,31,2,2024-12-31,RDU,"Raleigh/Durham, NC",North Carolina,ATL,...,FEW:02 9.14 FEW:02 13.72,1006.8,16.093,170,10.3,5.1,2024-12-31 11:51:00,RDU,19.0,processed_T_ONTIME_REPORTING 41.csv
161391,2024,4,12,31,2,2024-12-31,RDU,"Raleigh/Durham, NC",North Carolina,BNA,...,BKN:07 8.84 OVC:08 16.76,NaN,16.093,210,10.8,7.7,2024-12-31 15:30:00,RDU,2.0,processed_T_ONTIME_REPORTING 41.csv
161347,2024,4,12,31,2,2024-12-31,RDU,"Raleigh/Durham, NC",North Carolina,ATL,...,FEW:02 0.61 FEW:02 9.14,1010.2,16.093,150,NaN,2.6,2024-12-31 08:51:00,RDU,9.0,processed_T_ONTIME_REPORTING 41.csv

In [33]:
data.to_csv("data.csv", index=False)